

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Poppins" ,"Courgette", "Montserrat", -apple-system;
    font: 10px;
    scroll-behavior: smooth;
  }

  a {
    color:unset;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
    
  }
  ul{
      list-style-type: none;
      padding:0;
  }
}
