@tailwind base;

@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@100;400&family=Poppins&family=Roboto&display=swap");

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font: 10px;
    scroll-behavior: smooth;
  }

  a {
    /* color: inherit; */
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
    
  }
}

@tailwind components;
@layer components {
  .header {
    @apply w-full grid grid-cols-2 h-[3rem] shadow-md shadow-fuchsia-200 sm:grid-cols-[1fr_4fr_1fr] md:pl-6 md:pr-6 lg:pl-8 lg:pr-8 xl:pl-14 xl:pr-14 justify-center items-center mb-4 max-w-[2048px];
  }

  .MenuItem {
    @apply font-Poppins pl-2 pr-2 mb-1 text-center items-center text-xl font-[400] text-gray-800 rounded-sm hover:text-gray-600  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-100 duration-300;
  }
  .userIcon {
    @apply text-lg ml-2 mr-2 mt-2 text-gray-600 cursor-pointer;
  }
  .mobileLink {
    @apply m-3 text-xl cursor-pointer border-dotted border-b-2 border-indigo-400 font-Montserrat font-[400] hover:rounded-md hover:text-gray-600 
    transition ease-in-out delay-150 hover:-translate-y-1 duration-300 hover:border-0;
  }
  .socialIcon {
    @apply mr-2.5 text-xl pb-10 cursor-pointer  font-[400];
  }

  /* container */
  .container {
    margin:0 auto;
    @apply w-full grid md:pl-6 md:pr-6 lg:pl-8 lg:pr-8 xl:pl-10 xl:pr-10  max-w-[2048px] mx:pl-14 mx:pr-14; 
  }

  /* Best Sells */
  .bg_card {
    @apply col-span-4 grid grid-cols-2 bg-gradient-to-r from-red-200 via-purple-200 to-pink-200 relative h-56 rounded-md;
  }

  .sort_card {
    @apply rounded-md col-span-2 bg-gradient-to-l from-red-200 via-purple-200 to-pink-200 h-56;
  }

  .footerLink {
    @apply font-Poppins pt-0.5 pb-0.5 text-base font-normal text-gray-200 hover:underline;
  }
  /* .footerTitle{
    @apply text-gray-300 justify-center font-Poppins font-bold text-base items-center uppercase;
  } */
}

@tailwind utilities;
